h1 {color:#20c997;
    front-weight:bold;
    front-family: "Playfair Display", serif;
}

p {color:#6610f2;
    front-weight:normal;
    front-family:"Poppins", sans-serif;

}
 .hero{ background-color:#6610f2;
 text-align:center;
 padding:160px 0;}

 
.hero p {front-size:96px;
front-family: "Playfair Display", serif;}

.hero h2 {front-family: "Poppins", sans-serif;
front-weight: normal;
font-size:36px;
}

btn-branding{ background-color: #20c997;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}